.header {
  height: 100px !important;
  letter-spacing: 20px;
}

.h-400 {
  height: 400px !important;
}

.callingCode {
  letter-spacing: 10px;
}

.bcolor-dark {
  background-color: #222831 !important;
}

.bcolor-secondary {
  background-color: #393e46 !important;
}

.txt-warning {
  color: #ffd369 !important;
}

.bcolor-warning {
  background-color: #ffd369 !important;
}

.txt-light {
  color: #eeeeee !important;
}
